
<div [ngStyle]="{'background':config.fondo, 'border':'8px solid black', 'border-color':config.color,'padding':'10px'}">  

    <h1>{{ config.titulo }} app is corriendo!</h1>  
    <p>{{ config.subtitulo }}</p>  

    <!--
    <button (click)="ocultarVJ(false)" *ngIf="mostrarVideojuegos">Ocultar VideoJuegos</button>
    <button (click)="ocultarVJ(true)" *ngIf="!mostrarVideojuegos">Mostrar VideoJuegos</button>

    <videojuego *ngIf="mostrarVideojuegos"></videojuego>
    
    <zapatilla></zapatilla>

    
    <cursos></cursos>   
    -->
    
    <router-outlet></router-outlet>

</div>

