<h2>{{titulo}}</h2>
<ul>
    <li *ngFor="let tenis of muchosTenis">
        {{tenis.marca + " " + tenis.color}} 
        
        <span *ngIf="tenis.precio <= 1000"        
            [style.background]="tenis.stock == true ? 'green' : 'red' "
            [style.color]="tenis.stock == true ? 'white' : 'black' "
            [style.fontSize]="tenis.stock == true ? '20px' : '15px' "
        >
            ¡En oferta!
            <strong> {{"- $" + tenis.precio + " -Disponibles: " + tenis.stock}} </strong>
        </span>
    </li>
    
</ul>